.main{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 26px;
    display: flex;
    margin-left: 3.5%;
    flex-wrap: wrap;
    gap: clamp(5px,33%,200px);
}
.left{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(5px,15vw,10px);
    padding-left: 10px;
}
.left img{
    height: 30px;
    margin-top: -5px;
}
.mid{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(5px,15vw,16px);
    font-weight: 700;
}
.dot{
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: black;
    margin-top: 15px;
}
.right{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(5px,27vw,20px);
}
.right button{
    background-color: black;
    color: white;
    border-radius: 40px;
    border: none;
    padding: 0px 15px 0px 15px;
    font-size: 12px;
    margin-top: -5px;
}

