.midcontant{
    min-height: 40vh;
    background: black;
    border-radius: 20px;
    margin: 28px 13px 0;
    overflow: hidden;

    display: flex;
    align-items: center;
}

/* Desktop */
.midcontant > *{
    flex: 1;
}

/* Tablet */
@media (max-width: 768px){
    .midcontant{
        flex-direction: column;
        min-height: auto;
    }
}

/* Mobile */
@media (max-width: 480px){
    .midcontant{
        padding: 1rem;
    }
}