/* css reset */
*{         
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body styleing */
body{
  background: rgb(249, 239, 220);
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;                                        
}
/* Root Variables (Professional) */
:root{
  --primary-color: rgb(19, 19, 19);
  --secondary-color: #111;
  --text-color: white;
}
/* Global Typography */
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}
p{
  line-height: 1.6;
}
/* Reusable Utility Classes */
.container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.flex{
  display: flex;
}
/* Image Defaults */
/* img{
  max-width: 100%;
  display: block;
} */
/* Anchor Tag Styling */
a{
  text-decoration: none;
  color: inherit;
}
/* Button Reset */
button{
  border: none;
  cursor: pointer;
}
/* Smooth Scroll */
html{
  scroll-behavior: smooth;
}
/* Selection Styling (Optional)  */
::selection{
  background: orange;
  color: black;
}